
@font-face {
    font-family: "GowunDodum-Regular";
    font-weight: normal;
    src: url("../font.ttf") format("truetype");
  }
  
  body {
    font-family: "GowunDodum-Regular";
  }

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EF66A5;
    height: 70px;
}


button {
    background-color: #ef66a5;
    border-color: #ef66a5;
    font-size: 14px;
    padding: 5px 10px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
button:hover {
    background-color: #f5a6c5; /* Hover 시 배경 색상 변경 */
    transform: scale(1.05); /* Hover 시 크기 확대 */
}

.nav {
    align-items: center;
}

/* ✨ 네비게이션 스타일 */
.nav a {
    color: white;  /* ✅ 개별 링크의 글씨 색상 */
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.nav a:hover {
    color: yellow; /* ✅ 호버 시 색상 변경 */
}
